#stats{
    display: flex;
    flex-direction: column;
    width: 10%;
    font-size: calc(7px + 1vh);

}
#nbMoves{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(150, 50, 200, 0.8);

}

#textNbMoves{
    display: flex;
    background-color: rgba(100, 100, 100, .7);
    border-radius: 10px;
    border-width: thick;
    border-color: rgba(56, 16, 62, 0.47);
    border-style: solid;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


#textNbMoves:hover{
    background-color : rgba(118, 19, 132, 0.63);
}

#diskNum{
    flex-grow: 1;
}

#speed{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(50, 100, 200, 0.8);
}

#diskNum{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.8);
}
