#canvasBox{
    background-color: rgba(50, 50, 50, 0.9);
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 600px;
    width : 60%;
}

.disk{
    position: absolute;
}
