#explanations{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    background-color: rgba(100, 100, 200, 0.95);
}

p.explanations{
    text-align: justify;
    text-justify: inter-word;
}
