#explanations{
    display: block;
    width: 30%;
    padding: 15px;
    background-color: rgba(100, 100, 200, 0.95);
}

p.explanations{
    text-align: justify;
    text-justify: inter-word;
    font-size: calc(5px + 1.2vh);
}
